<template>
  <div id="result-item">
    <p id="total-points" class="animate__animated animate__flipInX">
      Your Score: {{ totalPoints }} / {{ maxPoints }} points
    </p>
    <ResultItem
      v-for="(question, index) in questions"
      :key="index"
      :question="question"
      :userAnswer="getAnswers()[index]"
    />
    <button @click="restartGame">Restart with same options</button>
    <button @click="$router.push('/')">Go to start</button>
  </div>
</template>

<script>
import ResultItem from "../Results/ResultItem.vue";
import { mapState, mapGetters, mapActions } from "vuex";
import "animate.css"

export default {
  name: "Result",
  data() {
    return {
      totalPoints: 0,
      maxPoints: 0,
    };
  },
  created() {
    this.countTotalPoints();
  },
  components: {
    ResultItem,
  },
  computed: {
    ...mapState(["questions"]),
  },
  methods: {
    ...mapGetters(["getAnswers", "getQuestions"]),
    ...mapActions(["restartGame"]),
    countTotalPoints() {
      let total = 0;
      let max = this.getQuestions().length * 10;
      const questions = this.getQuestions();
      let correct_answer = [];
      //Extract all correct answers and add to array
      questions.forEach((question) => {
        correct_answer.push(question.correct_answer);
      });

      const answers = this.getAnswers();

      //If user answers is correct add 10p to toatalpoint
      for (let i = 0; i < answers.length; i++) {
        if (answers[i] == correct_answer[i]) total += 10;
      }

      this.totalPoints = total;
      this.maxPoints = max;
    },
  },
};
</script>

<style scoped>
#total-points {
  font-size: 1.66em;
}
#result-item {
  background-color: #198b75;
}
p {
  color: black;
  font-weight: bold;
}
button {
  flex-direction: row;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 12px;
  margin-right: auto;
  -webkit-appearance: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px 25px rgba(206, 8, 110, 0.5);
}
</style>