<template>
  <div>
    <h2 class="animate__animated animate__bounceInLeft">{{question.question}}</h2>
  </div>
</template>

<script>
import {  mapState } from 'vuex';
export default {
    name: 'QuestionHeader',
    props:{
      
    },
    computed:{
        ...mapState(['question'])

    }
};
</script >

<style scoped>
h2{
   color: white;
   font-weight: bold;
}
</style>