<template>
  <div>
    <p>
      {{parseInt(this.$route.query.q) +1}} of {{this.getQuestions.length}}
    </p>
    <div>
      <QuestionHeader v-bind:question='question.question' />
    </div>
    <div>
      <QuestionItem
        v-bind:shuffledAnswers='shuffledAnswers'
        :key='option'
        @option-clicked='setNextAnswers'
      />
    </div>
  </div>
</template>

<script>
import QuestionItem from './QuestionItem.vue';
import QuestionHeader from './QuestionHeader.vue';
import { mapActions, mapMutations, mapState, mapGetters } from 'vuex';
export default {
  name: 'Questions',
  props: {
    option: {
      type: String,
    },
  },
  data() {
    return {
      unShuffledAnswers: [],
    };
  },

  components: {
    QuestionHeader,
    QuestionItem,
  },

  created() {
    this.setNextAnswers();
  },
  watch: {
    unShuffledAnswers() {
      this.shuffledAnswers;
    },
  },
  computed: {
    ...mapState(['question', 'questions']),
    shuffledAnswers: function () {
      return this.shuffleAnswers(this.unShuffledAnswers);
    },
    ...mapGetters(['getQuestions']),
  },
  methods: {
    ...mapActions(['setNextQuestion']),
    ...mapMutations(['setQuestion']),

    // Added to account for inconsistencies from API. Some calls included the correct answer inside the 
    // incorrect_answers array. Now checking it manually and adding it if it not included.
    // sets answers to be shuffled.
    setNextAnswers() {
      // Doesnt run if no more questions
      if(this.question === 'undefined') return;
      //Add all incorrect answers to array
      let answers = [];
      answers = this.question.incorrect_answers;
      //if incorrect answers array does not contain correct answer add correct answer to answers array
      if(!this.question.incorrect_answers.includes(this.question.correct_answer)){
        answers.push(this.question.correct_answer);
      }
      //set to answers
      this.unShuffledAnswers = answers;
    },

    // Takes in an array and returns a shuffled array
    shuffleAnswers(array) {
      let counter = array.length;

      // While there are elements in the array
      while (counter > 0) {
        // Pick a random index
        let index = Math.floor(Math.random() * counter);

        // Decrease counter by 1
        counter--;

        // And swap the last element with it
        let temp = array[counter];
        array[counter] = array[index];
        array[index] = temp;
      }
      return array;
    },
  },
};
</script>

<style>
</style>