<template>
  <div id='app'>
    <header>
      <h1 
      title='Go to Startpage'
      @click='onClickHome'>
        Trivia<span >Game</span>
      </h1>
    </header>
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
  methods: {
    //Go to startpage
    onClickHome() {
      if(this.$route.path !== '/'){
        this.$router.push({ name: 'StartScreen' });
      } else return;
    },
  },
};
</script>

<style >
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  background: #198b75;
  height: 100vh;
}
header {
  display:flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  max-height: 100px;
  border-radius: 16px;
  text-transform: uppercase;
  max-width: 80%;
  margin-left:auto;
  margin-right: auto;

}
h1{
  padding: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top:20px;
  font-size: 3em;
}
header span {
  color: white;
}
</style>
